<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576998934978-0tci5q61soqd5hsvqjl23llqt46pchad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576998934978-0tci5q61soqd5hsvqjl23llqt46pchad</string>
	<key>API_KEY</key>
	<string>AIzaSyCcRdzfvA3tq7HIH-5LGpVgOs5Tlw-2Lrc</string>
	<key>GCM_SENDER_ID</key>
	<string>576998934978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findly</string>
	<key>PROJECT_ID</key>
	<string>findly-c7614</string>
	<key>STORAGE_BUCKET</key>
	<string>findly-c7614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576998934978:ios:5a6f84961d49d40e44ee5b</string>
</dict>
</plist>